html,
body {
  height: 100%;
  background-color: #2b323a;
  color: #fff;
}

body {
  align-items: center;
}

a {
    text-decoration: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Forums */
.forum-list {
    background-color: #212529;
    padding: 1rem;
    color: #fff;
}

.forum-list-item {
    background-color: #2b323a;
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.forum-list-item:hover {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 2px 5px 0 #bbb inset, 0px -2px 5px 0 #bbb inset;
}

/* Threads */
.thread-list {
    background-color: #212529;
    padding: 1rem;
    color: #fff;
}

.thread-list-item {
    background-color: #2b323a;/* bg-dark = #212529 */
    color:  	#fff;
    padding: 1rem;
    margin: 1rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.thread-list-item:hover {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 2px 5px 0 #fff inset, 0px -2px 5px 0 #fff inset;
}

/* Forum Top */
.forum-top {
    padding: 1rem;
    border-bottom: 1px solid #fff;
}